.categories {
    -fx-background-color: #FFFFFF;
}

.categories:hover {
    -fx-background-color: #EAF5F5;
}


.scrollBackground {
    -fx-background-color:transparent;
}

.buyButtonINC {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 3px;
}

.buyButtonINC:hover {
    -fx-background-color: #A9E5BA;
}

.buyButtonDEC {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 3px;
}

.buyButtonDEC:hover {
    -fx-background-color: #e5a9a9;
}

.buyButtonBackground {
    -fx-background-color: #596964;
    -fx-background-radius: 3px;
}


.homebutton {
    -fx-background-color: #FFFFFF;
}

.homebutton:hover {
    -fx-background-color: #EAF5F5;
}


.helpFeature {
    -fx-background-color: #375656;
}

.helpFeature:hover {
    -fx-background-color: #507a7a;
}