.categories {
    -fx-background-color: #FFFFFF;
}

.categories:hover {
    -fx-background-color: #EAF5F5;
}


.scrollBackground {
    -fx-background-color:transparent;
}

.buyButtonINC {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 3px;
}

.buyButtonINC:hover {
    -fx-background-color: #7fed64;
}

.buyButtonDEC {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 3px;
}

.buyButtonDEC:hover {
    -fx-background-color: #f07269;
}

.buyButtonBackground {
    -fx-background-color: #619191;
    -fx-background-radius: 3px;
}
